{% extends "index.html" %}
{% block content %}

			<section id="upload" class="main">
				<header>
					<div class="container">
						<h2>Upload your logfile</h2>
						<p>Use the UPLOAD button below to upload your logfile<br />
							<b>note:</b> The log has to have a .las extension and, for the time being, this only works with Poseidon wells (or files with exactly the same log suite and names).</p>
						<p>
						<form method="post" enctype="multipart/form-data" style="display: inline;"  action="upload">
						<label for="file-upload" class="button special">
						Upload
						</label>
						<input id="file-upload" style="display: none;" type="file" name="myfile" onchange="this.form.submit();">
						</p>

					</div>
				</header>
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="col-12 col-12-narrow">
								<section id="logdisplay">
									<span class="feature-icon"><span class="icon fa-bolt"></span></span>
									<header>
										<h3>LOGS for {{ filename }}</h3>
									</header>
									<div width=95%>
									<center>{{ html|safe }}</center>
									</div>
								</section>
							</div>

							<div class="col-12 col-12-narrow">
								<section id="deepdisplay">
									<header>
										<h3>Classified with the LSTM model:</h3>
									</header>
									<div width=95%>
									<center>{{ deephtml|safe }}</center>
									</div>
								</section>
							</div>

							<div class="col-12">
								<footer>
									<img src="images/legend.png" width="50%" alt="" />
								</footer>
							</div>
							<div class="col-12">
								<footer>
									<h3>Do you like the classification?</h3><br />
									<a href="#"><img src="images/sad.png" width="15%" alt="" /></a><img src="images/spacer.gif" width="15%" alt="" /><a href="#"><img src="images/happy.png" width="15%" alt="" /></a>
								</footer>
							</div>
							<div class="col-12">
								<footer>
									<a href="#last" class="button scrolly">Give us feedback</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section>

{% endblock %}
